ion-button{
    --background:red;
    --color: green;
  
  }
  
  ion-content{
    background: #1bcd21;
  }
  
  ion-slides{
    height: 100%;
    background-color: white;
    max-width: 800px;
  }
  
  .swiper-slide{
    display: block;
    padding-top: 20px;
    margin-bottom: 60px;
    background-color: var(--slide-color-background);
  }
  
  ion-slide > h1,h2{
    margin: 20px 20px 20px 20px;
    color: var(--slide-color-text);
    // border-color: black;
    // border-style: dashed;
  }
  h1{
    font-weight: bold;
  }
  h2{
    font-weight: 600;
    font-size: 18px;
  }
  
  ion-slide > p {
    font-style: normal;
    font-size: 20px;
    padding: 0px 20px 20px 20px;
    text-align: justify;
    text-justify: inter-word;
    // border-color: black;
    // border-style: dashed;
  }
  
  ion-slide > ion-icon{
    color: var(--slide-color-icon);
    font-size: 50px;
  }
  
  ion-slide > ion-icon[name="close"]{
    float: right;
    color: var(--slide-color-icon);
    font-size: 40px;
  }
  
  .swiper-slide img{
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  