<ion-content>
  <ion-slides pager="true" [options]="slideOpt">

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 1</h1>
      <h2>DOTA 2 - INTRO</h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/images/slide1.jpg"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 2</h1>
      <h2>DOTA 2 - NOVEDADES</h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/images/slide2.jpg"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 3</h1>
      <h2>DOTA 2 - HISTORIA</h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/images/slide3.jpg"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </ion-slide>

    <ion-slide>
      <ion-icon name="close"></ion-icon>
      <h1>Slide 4</h1>
      <h2>DOTA 2 - PREMIOS</h2>
      <ion-icon name="musical-note-outline"></ion-icon>
      <img src="assets/images/slide4.jpg"/>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </ion-slide>

  </ion-slides>
</ion-content>